<h2 id="title">Welcome to Ember-CLI-Lazy-Load</h2>

<nav>
    <ul>
        <li>{{#link-to 'cats'}}Cats{{/link-to}}</li>
        <li>{{#link-to 'index'}}Index{{/link-to}}</li>
    </ul>
</nav>

{{outlet}}
